<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <memory-size>
        <main-memory>128</main-memory>
        <disk-memory>1024</disk-memory>
    </memory-size>
    <os-saved-memory>16</os-saved-memory>
    <memory-management>
        <method name="fixed" activated="true">
            <partition-size>16</partition-size> 
        </method> 
        <method name="dynamic" activated="false">
        </method> 
        <method name="paging" activated="false">
            
        </method> 
        <method name="segmentation" activated="false">
            
        </method> 
    </memory-management>
    <process-scheduler>
        <method name="fcfs" activated="false"></method>
        <method name="rr" activated="true">
            <clock>2</clock>
        </method>
        <method name="srt" activated="false"></method>
        <method name="sjf" activated="false"></method>
        <method name="hrrn" activated="false"></method>
    </process-scheduler>
</config>
