<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--><config>
    <memory-size>
        <main-memory>128</main-memory>
        <disk-memory>512</disk-memory>
    </memory-size>
    <os-saved-memory>16</os-saved-memory>
    <memory-management>
        <method activated="true" name="fixed">
            <partition-size>16</partition-size> 
        </method> 
        <method activated="false" name="dynamic">
        </method> 
        <method activated="false" name="paging">
            <frame-size>16</frame-size>
        </method> 
        <method activated="false" name="segmentation">
            
        </method> 
    </memory-management>
    <process-scheduler>
        <method activated="false" name="fcfs"/>
        <method activated="true" name="rr">
            <quantum>2</quantum>
        </method>
        <method activated="false" name="srt"/>
        <method activated="false" name="sjf"/>
        <method activated="false" name="hrrn"/>
    </process-scheduler>
</config>
